# 1. Create a dictionary where each object contains a list of one float (Age) and one string (Family name) (at least 5 objects)

In [9]:
dictionary = {'obj1':[1.1, 'christy'], 'obj2': [6.1, 'christie'], 'obj3':[3.1, 'carrol'], 'obj4': [4.1, 'adams'], 'obj5': [5.1, 'jackson']}

# Delete one item from the dictionary

In [10]:
del(dictionary['obj5'])
dictionary

{'obj1': [1.1, 'christy'],
 'obj2': [6.1, 'christie'],
 'obj3': [3.1, 'carrol'],
 'obj4': [4.1, 'adams']}

# Replace the float number of one of your objects - we are changing a list entry inside a dictionary record! look at Darwin's new age

In [11]:
dictionary['obj2'][0] = 1.1

In [12]:
dictionary

{'obj1': [1.1, 'christy'],
 'obj2': [1.1, 'christie'],
 'obj3': [3.1, 'carrol'],
 'obj4': [4.1, 'adams']}

# write a for loop that goes through all records in the dictionary, prints the family name and assigns the float numbers into one merged list (see ages)

In [13]:
ages = []
for key, value in dictionary.items():
    print(value[1])
    ages.append(value[0])

print(ages)

christy
christie
carrol
adams
[1.1, 1.1, 3.1, 4.1]

# Optional: Calculate with a for loop the median and mean of the ages list

In [19]:
total = 0 # initialize a total
n = len(ages) # need length of list for averages
for age in ages: # Start loop to sum all ages
    total += age
    
item = int(n/2) # Get middle index for ages

age_sort = sorted(ages) # sort ages
if n%2 == 0: # if even sum the two middle numbers
    
    median = (ages[item] + ages[item + 1])/2

else: # else grab the middle 
    median = ages[item]
    
    
    
print('Mean: ', total/n)
print('Median: ', round(median, 2))

Mean:  2.35
Median:  3.6