### 1. Create a dictionary where each object contains a list of one float (Age) and one string (Family name) (at least 5 objects)

Example:
`{Charles: [23.4, "Darwin"], Alan: [42.5, "Turing"]}`

In [9]:
age_name = {'Tim': [19.4, 'Ferrel'], 'Mary': [31.5, 'Kate'], 'Jason': [47.6, 'Morrison'],\
           'David': [44.5, 'Beckham'], 'Kathy': [35.5, 'Winsley'], 'Peter': [55.3, 'Allen']}

### 2. Delete one object from the dictionary

In [10]:
del age_name['Tim']
age_name

{'Mary': [31.5, 'Kate'],
 'Jason': [47.6, 'Morrison'],
 'David': [44.5, 'Beckham'],
 'Kathy': [35.5, 'Winsley'],
 'Peter': [55.3, 'Allen']}

### 3. Replace the float number of one of your objects - we are changing a list entry inside a dictionary record! look at Darwin's new age

Example:
`{Charles: [99.73, "Darwin"], Alan: [42.5, "Turing"]}`

In [11]:
age_name['Mary'][0]= 35.5
age_name

{'Mary': [35.5, 'Kate'],
 'Jason': [47.6, 'Morrison'],
 'David': [44.5, 'Beckham'],
 'Kathy': [35.5, 'Winsley'],
 'Peter': [55.3, 'Allen']}

### 4. write a for loop that goes through all records in the dictionary, prints the family name and assigns the float numbers into one merged list (see ages)

`ages = [23.4, 22.9, 552.9]`

In [26]:
ages = []
for value in age_name.values():
    print (f'family name is {value[1]}')
    ages.append(value[0])
print(f'\n {ages}')

family name is Kate
family name is Morrison
family name is Beckham
family name is Winsley
family name is Allen

 [35.5, 47.6, 44.5, 35.5, 55.3]

### 5. Download your notebbok as a .py (regular python script) save it somewhere you know

### 6. Go to terminal, navigate to the folder where you have saved the script and execute it through the terminal

`use commandds: 
cd and 
python your_script.py`

### [optional] Calculate with a for loop the median and mean of the ages list

In [44]:
total =0
for age in ages:
    total += age
mean = total/len(ages)
sorted_ages = ages.sort()
id = len(ages)//2
median = ages[id]
mean, median

(43.67999999999999, 44.5)